/* .videos-container {
  position: relative;
} */

.video-scroller::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.video-card {
  height: 100%;
}

.pagination-dots-container {
  position: unset !important;
}

.pagination-button {
  padding: unset !important;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}
